{% extends "base.html" %}
<!-- Cursos e Certificados-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Cursos  & Certificações</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                AceleraDev Data Science - Codenation
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Big Data Science - Machine Learning e Data Mining ( Junho de 2019 ) - Shift FIAP                        
    	</li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Big Data Fundamentos 2.0 - Data Science Academy
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Python for Data Science - IBM
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                AWS na Prática - Universidade Estabilis
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    	    DevOps Essentials Professional Certificate (DEPC)  - CertiProf®
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>                       
                DevOps Lead Certificate - Itcerts Inc.
    	    <sup>credencial</sup>
                Identificador da credencial Nº  5F5F71B
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Scrum Essentials Certificate - Itcerts Inc.
                <sup>credencial</sup>
                 Identificador da credencial Nº 5F5F71A
            </li>
              <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    	    IT GOVERNANCE AND MANAGEMENT - Cybrary
                <sup>credencial</sup>
                Identificador da credencial Nº SC-7236170a8d-815455
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Lean IT Essentials Certificate
                    <sup>credencial</sup>
                    Identificador da credencial Nº 5F5F719
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Scrum Fundamentals Certified
    	    <sup>credencial</sup>
                Identificador da credencial Nº 610821
            </li>
    	<li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>			
                Six Sigma Yellow Belt
    	    <sup>credencial</sup>
                Identificador da credencial Nº 589883
    	</li>
    	<li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>			
                Red Hat Certified Virtualization Administrator
                <sup>credencial</sup>
                Identificador da credencial Nº 120-167-929
    	</li>
    	<li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>			
                Certificação White Belt - Escola EDTI
                <sup>credencial</sup>
                Identificador da credencial Nº 010181
    	</li>
    	<li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>			
                DevOps Security Certificate - ITCERTS
                <sup>credencial</sup>
                Identificador da credencial Nº 5F5EF7
    	</li>
    	<li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>			
                MÉTRICAS PARA HELP DESK, SERVICE DESK E SUPORTE TÉCNICO ( 4hd - Roberto Cohen )
    	</li>
    	<li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>			
                Workshop : Gestão de Fornecedores de TI - EBUSINESS
    	</li>

        </ul>
    </div>
</section>
<hr class="m-0" /> 
{% endblock %}
